body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: #222629;
    color: white;
    margin: 0;
}


.title {
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    height: 80px;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 2;
    margin-top: 100px;
}

.footer a {
    color: white;
    display: block;
}

.footer span {
    font-size: 20px;
}

.slider {
    text-align: center;
}

.slider img {
    width: 50%;
}